* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main__container__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

header {
  background: url(../../images/bg-hero-desktop.svg);
  height: 50vh;
}

.nav__part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
}

.nav__part button {
  background-color: white;
  padding: 2rem;
  border: none;
  border-radius: 45%;
  width: 20%;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  line-height: 2.5em;
}

.hero__content button {
  background-color: hsl(322, 100%, 66%);
  padding: 1em;
  border: none;
  border-radius: 10px;
}

.footer {
  background-color: hsl(192, 100%, 9%);
  height: 40vh;
}

.foot__section img {
  filter: brightness(0);
  filter: invert(1);
}